affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
            - key: nvidia.com/gpu.present
              operator: DoesNotExist
env:
  - name: ENABLE_ZERO_DOWNTIME
    value: "false"