apiVersion: configuration.konghq.com/v1
kind: KongClusterPlugin
metadata:
  name: unique-global-cors
  annotations:
    kubernetes.io/ingress.class: kong
  labels:
    global: "true"
plugin: cors
config:
  origins:
    - "https://{{ kong_vars.app.domain }}"