apiVersion: configuration.konghq.com/v1
kind: KongClusterPlugin
metadata:
  name: unique-jwt-auth
  namespace: "{{ kong_vars.kubernetes.namespace }}"
  annotations:
    kubernetes.io/ingress.class: kong
plugin: unique-jwt-auth
config:
  allowed_iss:
    - "https://{{ kong_vars.zitadel.domain }}"
  algorithm: RS256
  well_known_template: "https://{{ kong_vars.zitadel.domain }}/.well-known/openid-configuration"
  zitadel_project_id: "{{ kong_vars.zitadel.project_id }}"