---
controller:
  ingressController:
    image:
      tag: "3.3.1"
    envFrom:
      - configMapRef:
          name: kong-controller-environment
  deploymentAnnotations:
    configmap.reloader.stakater.com/reload: "kong-controller-environment"
gateway:
  image:
    tag: "3.7.1"
  plugins:
    configMaps:
      - name: kong-plugin-unique-jwt-auth
        pluginName: unique-jwt-auth
      - name: kong-plugin-unique-app-repo-auth
        pluginName: unique-app-repo-auth
  deploymentAnnotations:
    configmap.reloader.stakater.com/reload: "kong-gateway-environment,kong-plugin-unique-jwt-auth,kong-plugin-unique-app-repo-auth"
  envFrom:
    - configMapRef:
        name: kong-gateway-environment
