apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ stackgres_vars.kubernetes.helm.chart.name }}-ingress
  namespace: {{ stackgres_vars.kubernetes.namespace }}
  annotations:
    kubernetes.io/ingress.class: traefik
    traefik.ingress.kubernetes.io/router.entrypoints: web,websecure
    traefik.ingress.kubernetes.io/router.middlewares: >-
      kube-system-redirect-https@kubernetescrd
    cert-manager.io/cluster-issuer: letsencrypt-production
spec:
  tls:
    - hosts:
        - {{ stackgres_vars.kubernetes.ingress.subdomain }}.{{ domain }}
      secretName: {{ stackgres_vars.kubernetes.helm.chart.name }}-tls
  rules:
    - host: {{ stackgres_vars.kubernetes.ingress.subdomain }}.{{ domain }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: stackgres-restapi
                port:
                  number: 80
