apiVersion: v1
kind: Secret
metadata:
  name: litellm-db-user-sql
  namespace: {{ litellm_vars.kubernetes.namespace }}
type: Opaque
stringData:
  litellm-user: "{{ litellm_vars.postgres_cluster.user }}"
  litellm-user-password: "{{ litellm_postgres_password }}"
  create-user-sql: "create user {{ litellm_vars.postgres_cluster.user }} password '{{ litellm_postgres_password }}';"
  create-database-sql: "create database {{ litellm_vars.postgres_cluster.database }} owner {{ litellm_vars.postgres_cluster.user }};"
