env:
  AWS_REGION_NAME: "eu-central-1"
  LITELLM_LOG: "DEBUG"

secretFrom:
  name: litellm

podAnnotations:
  reloader.stakater.com/auto: "true"

resources:
  requests:
    memory: 1Gi
    cpu: 1
  limits:
    memory: 2Gi

proxy_config:
  model_list:
    - model_name: bedrock-claude-sonnet-3-5
      litellm_params:
        model: anthropic.claude-3-5-sonnet-20240620-v1:0
        aws_access_key_id: os.environ/AWS_ACCESS_KEY_ID
        aws_secret_access_key: os.environ/AWS_SECRET_ACCESS_KEY
        aws_region_name: os.environ/AWS_BEDROCK_CLAUDE_SONNET_REGION_NAME
    - model_name: bedrock-cohere-embed-multilingual
      litellm_params:
        model: "bedrock/cohere.embed-multilingual-v3"
        aws_access_key_id: os.environ/AWS_ACCESS_KEY_ID
        aws_secret_access_key: os.environ/AWS_SECRET_ACCESS_KEY
        aws_region_name: os.environ/AWS_BEDROCK_COHERE_EMBED_MULTILINGUAL_REGION_NAME
        additional_drop_params: ["api_version", "encoding_format"]
  litellm_settings:
    turn_off_message_logging: false
    json_logs: true

ingress:
  enabled: true
  className: "{{ cluster.ingress_class }}"
  annotations:
    kubernetes.io/ingress.class: "{{ cluster.ingress_class }}"
    cert-manager.io/cluster-issuer: letsencrypt-production
  hosts:
    - host: "{{ litellm_vars.kubernetes.ingress.subdomain }}.{{ cluster.domain }}"
      paths:
        - path: /
          pathType: Prefix
  tls:
    - hosts:
        - "{{ litellm_vars.kubernetes.ingress.subdomain }}.{{ cluster.domain }}"
      secretName: litellm-tls