env:
  AWS_REGION_NAME: "eu-central-1"

secretFrom:
  name: litellm

resources:
  requests:
    memory: 1Gi
    cpu: 1
  limits:
    memory: 2Gi

proxy_config:
  model_list:
    - model_name: bedrock-claude-sonnet-3-5
      litellm_params:
        model: anthropic.claude-3-5-sonnet-20240620-v1:0
        aws_access_key_id: os.environ/AWS_ACCESS_KEY_ID
        aws_secret_access_key: os.environ/AWS_SECRET_ACCESS_KEY
        aws_region_name: os.environ/AWS_REGION_NAME

ingress:
  enabled: true
  className: "{{ cluster.ingress_class }}"
  annotations:
    kubernetes.io/ingress.class: "{{ cluster.ingress_class }}"
    cert-manager.io/cluster-issuer: letsencrypt-production
  hosts:
    - host: "{{ litellm_vars.kubernetes.ingress.subdomain }}.{{ cluster.domain }}"
      paths:
        - path: /
          pathType: Prefix
  tls:
    - hosts:
        - "{{ litellm_vars.kubernetes.ingress.subdomain }}.{{ cluster.domain }}"
      secretName: litellm-tls