apiVersion: v1
kind: Secret
metadata:
  name: zitadel-db-user-sql
  namespace: {{ zitadel_vars.kubernetes.namespace }}
type: Opaque
stringData:
  zitadel-user: "{{ zitadel_vars.postgres_cluster.user }}"
  zitadel-user-password: "{{ zitadel_postgres_password }}"
  create-user-sql: "create user {{ zitadel_vars.postgres_cluster.user }} password '{{ zitadel_postgres_password }}';"
  create-database-sql: "create database {{ zitadel_vars.postgres_cluster.database }} owner {{ zitadel_vars.postgres_cluster.user }};"
