apiVersion: configuration.konghq.com/v1
kind: KongClusterPlugin
metadata:
  name: {{ basic_auth_vars.plugin.name }}
  namespace: {{ basic_auth_vars.kubernetes.namespace }}
  annotations:
    kubernetes.io/ingress.class: kong
config:
  hide_credentials: true
plugin: basic-auth