apiVersion: v1
kind: Secret
metadata:
  name: {{ basic_auth_vars.secret.name }}
  namespace: {{ basic_auth_vars.kubernetes.namespace }}
  labels:
    konghq.com/credential: basic-auth
stringData:
  username: {{ basic_auth_vars.user.name }}
  password: {{ basic_auth_vars.user.password }}
