deploymentMode: SingleBinary
loki:
  commonConfig:
    replication_factor: 3
  auth_enabled: false
  schemaConfig:
    configs:
    - from: "2024-01-01"
      store: tsdb
      index:
        prefix: loki_index_
        period: 24h
      object_store: s3
      schema: v13
  storage:
    type: 's3'
    bucketNames:
      chunks: loki-chunks
      ruler: loki-ruler
      admin: loki-admin
    s3:
      endpoint: http://rook-ceph-rgw-ceph-objectstore.rook-ceph.svc
      secretAccessKey: {{ prometheus.loki.s3.secret_key }}
      accessKeyId: {{ prometheus.loki.s3.access_key }}
      s3ForcePathStyle: true
      insecure: true
singleBinary:
  replicas: 3
read:
  replicas: 0
backend:
  replicas: 0
write:
  replicas: 0