---
apiVersion: v1
kind: Secret
metadata:
  name: chat-database-user-sql
  namespace: document-chat
type: Opaque
stringData:
  create-user-sql: "create user {{ document_chat.chat.postgres.user }} password '{{ document_chat.chat.postgres.password }}';"
  create-database-sql: "create database {{ document_chat.chat.postgres.database }} owner {{ document_chat.chat.postgres.user }};"
  username: "{{ document_chat.chat.postgres.user }}"
  password: "{{ document_chat.chat.postgres.password }}"
  database: "{{ document_chat.chat.postgres.database }}"
---
apiVersion: v1
kind: Secret
metadata:
  name: document-chat-secrets
  namespace: document-chat
type: Opaque
stringData:
  CHAT_LXM_ENCRYPTION_KEY: "{{ document_chat.chat.lxm_encryption_key }}"