---
apiVersion: v1
kind: Secret
metadata:
  name: chat-database-user-sql
  namespace: document-chat
type: Opaque
stringData:
  create-user-sql: "create user {{ document_chat.chat.postgres.user }} password '{{ document_chat.chat.postgres.password }}';"
  create-chat-database-sql: "create database chat owner {{ document_chat.chat.postgres.user }};"
  create-theme-database-sql: "create database theme owner {{ document_chat.chat.postgres.user }};"
  create-scope-management-database-sql: "create database scope_management owner {{ document_chat.chat.postgres.user }};"
  create-app-repository-database-sql: "create database app_repository owner {{ document_chat.chat.postgres.user }};"
  create-ingestion-database-sql: "create database ingestion owner {{ document_chat.chat.postgres.user }};"
  username: "{{ document_chat.chat.postgres.user }}"
  password: "{{ document_chat.chat.postgres.password }}"
---
apiVersion: v1
kind: Secret
metadata:
  name: document-chat-secrets
  namespace: document-chat
type: Opaque
stringData:
  CHAT_LXM_ENCRYPTION_KEY: "{{ document_chat.chat.lxm_encryption_key }}"
  INGESTION_ENCRYPTION_KEY: "{{ document_chat.ingestion.encryption_key }}"
  APP_REPOSITORY_ENCRYPTION_KEY: "{{ document_chat.app_repository.encryption_key }}"
  ZITADEL_PAT: "{{ document_chat.scope_management.zitadel_pat }}"
