apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: document-chat
  namespace: argocd
spec:
  goTemplate: true
  goTemplateOptions: ["missingkey=error"]
  generators:
  - git:
      repoURL: https://github.com/Unique-AG/ray-cluster
      revision: HEAD
      files:
      - path: "10-document-chat/**/app.yaml"
  template:
    metadata:
      name: '{% raw %}{{.spec.name}}{% endraw %}'
      namespace: argocd
    spec:
      project: default
      destination:
        server: https://kubernetes.default.svc
        namespace: document-chat
  templatePatch: |
    spec:
      source:
        {% raw %}{{- .spec.source | toYaml | nindent 4 }}
      {{- if hasKey .spec "additionalValues" }}
      {{- .spec.additionalValues | toYaml | nindent 2 }}
      {{- end }}
      {{- if .spec.autoSync }}
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
      {{- end }}{% endraw %}