apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: llm-cluster
  namespace: argocd
spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
    namespace: ray
  source:
    repoURL: https://github.com/Unique-AG/ray-cluster
    path: 50-llm-cluster/argo
    targetRevision: HEAD
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
