---
cluster:
  name: ray-test-cluster

  # The main domain for the cluster. All services will be available under this domain.
  domain: example.com
  
  management_user_ssh_keys:
    - "ssh-ed25519 <ssh-key> example-description"

# The roles to install in the cluster.
chart_roles:
  - certmanager
  - argocd
  - basic_auth
  - prometheus
  - kured
  - rook_ceph
  - stackgres
  - redis
  - rabbitmq
  - harbor
  - nvidia_gpu_operator
  - ray

apps:
  - llm-cluster
  - document-chat

## Chart specific values
argocd:
  server:
    admin:
      password: password (we suggest using Ansible Vault or 1Password lookups e.g. {{ lookup('community.general.onepassword', 'RAY_CLUSTER_ARGOCD_ADMIN_PASSWORD') }})
    user:
      name: user
      password: password123!

basic_auth:
  user:
    name: admin
    password: password123!

harbor:
  admin:
    password: password123!
  postgres:
    password: password123!

prometheus:
  grafana:
    admin:
      name: admin
      password: password123!

ray:
  huggingface:
    token: "{{ lookup('community.general.onepassword', 'RAY_CLUSTER_HUGGINGFACE_TOKEN', field='password') }}"

document_chat:
  chat:
    postgres:
      user: "{{ lookup('community.general.onepassword', 'RAY_CLUSTER_DOCUMENT_CHAT_SECRETS', field='chat_db_user') }}"
      password: "{{ lookup('community.general.onepassword', 'RAY_CLUSTER_DOCUMENT_CHAT_SECRETS', field='chat_db_password') }}"
      database: "{{ lookup('community.general.onepassword', 'RAY_CLUSTER_DOCUMENT_CHAT_SECRETS', field='chat_db_name') }}"