---
cluster:
  name: ray-test-cluster

  # The main domain for the cluster. All services will be available under this domain.
  domain: example.com

  # Our Kong gateway operator only allows a single gateway per cluster. All subdomains need to be configured here
  # so the certmanager can issue certificates for them.
  subdomains:
    argocd: argocd
    harbor: harbor

  management_user_ssh_keys:
    - "ssh-ed25519 <ssh-key> example-description"

# The roles to install in the cluster.
chart_roles:
  - certmanager
  - argocd
  - basic_auth
  - prometheus
  - kured
  - rook_ceph
  - loki
  - stackgres
  - redis
  - rabbitmq
  - harbor
  - nvidia_gpu_operator
  - ray

apps:
  - llm-cluster
  - document-chat

## Chart specific values
certmanager:
  cluster_issuer:
    email: email@example.com

argocd:
  server:
    admin:
      password: password (we suggest using Ansible Vault or 1Password lookups e.g. {{ lookup('community.general.onepassword', 'RAY_CLUSTER_ARGOCD_ADMIN_PASSWORD') }})
    user:
      name: user
      password: password123!

basic_auth:
  user:
    name: admin
    password: password123!

harbor:
  admin:
    password: password123!
  postgres:
    password: password123!

prometheus:
  grafana:
    admin:
      name: admin
      password: password123!
  loki:
    s3:
      access_key: access_key
      secret_key: secret_key

ray:
  huggingface:
    token: token

document_chat:
  chat:
    postgres:
      user: user
      password: password
      database: database